$primary-color-master: #006cb8;
$primary-color-second: #ea5539;
$primary-color-third: #54b983;
$primary-color-forth: #ccdf80;
$primary-color-five: #f7f2eb;

$dark-100: #231815;
$dark-200: #898989;
$dark-300: #b5b5b6;
$dark-400: #e5e5e5;
$dark-500: #fff;
